---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="about"
	description=""
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
<p>
	Memorandum は適当な文章をだらだらと書き残したり、技術的なことの覚え書きを残すサイトです。<br />
以下の GitHub にて管理されております。<br />
バグ等あったり、記事で修正したいことがあったら Pull Request とか Issue 立ててくれると見ます。</p>
<ul>
	<li><a href="https://github.com/Nagatani/nagatani.github.io" target="_blank" rel="nofollow noopener noreferrer">Nagatani/nagatani.github.io: Memorandum</a></li>
</ul>

<p>お問い合わせは、<a href="mailto:hey@nagatani.me">hey@nagatani.me</a>　まで。</p>

<h2>著者について</h2>
<p>
	Nagatani<br />
	フリーランス プログラマ, 非常勤講師(大学,高校), 法人経営 など</p>
<p>
	詳しくは個人サイトへどうぞ。
	<a href="https://nagatani.me/" target="_blank" rel="nofollow noopener noreferrer">https://nagatani.me/</a>
</p>

</Layout>
