@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=BIZ+UDMincho&display=swap');

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}

:root {
  font-family: 'Courier New', 'BIZ UDMincho', serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 5mm;
  font-feature-settings: normal;
  text-underline-offset: 0.2em;


  background-color: #fefefe;
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #E3FDFF calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), #E3FDFF calc(100% - 1px));
  background-size: 5mm 5mm;
  background-repeat: repeat;
  background-position: center center;

  --text-color: #232323;
  --link-color: #0f83fd;
  --accent-color: #CB1B45;

  color: var(--text-color);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: underline;
  transition: all 0.3s;
}
a:hover,
a:active,
.znc a:hover,
.znc a:active {
  color: var(--accent-color);
}

.znc .postBody h1,
.znc .postBody h2,
.znc .postBody h3,
.znc .postBody h4 {
  border-bottom: none;
  line-height: 1.2;
}
.znc .postTitle {
  border-bottom: none;
  margin-bottom: 0;
}
.znc .postBody p {
  line-height: 1.6;
  text-align: justify;
}
.znc .postBody p+p {
  margin-top: 0.5rem;
}
.znc .postBody p code,
.znc .postBody .code-block-container code,
.znc .postBody .code-block-container .code-block-filename {
  font-family: "Azeret Mono","SFMono-Regular",Consolas,"Liberation Mono",Menlo,monospace,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.intro-header,
.post-header {
  font-family: "Azeret Mono", monospace;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: #2c3e50;
  color: #fefefe;
  box-shadow:
      0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
}

.intro-header a,
.post-header a {
  color: #fefefe;
}
.intro-header h1,
.post-header h1,
.intro-header h2,
.post-header h2 {
  font-size: 1rem;
}

.layout {
  max-width: 90%;
  width: 960px;
  margin: 0 auto 0;
  padding: 180px 0;
  min-height: calc(100vh - 3rem);
}

.footer {
  padding: 1rem;
}
.footer .container {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.post-preview {
  margin-bottom: 2rem;
}
.post-preview .postTitle {
  font-size: 1rem;
  display: inline;
  padding-right: 1rem;
}
.post-preview .date {
  font-size: 0.8rem;
  display: inline;
  color: #23232380;
}
.post-preview p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}